# Alzheimer's Prediction System

This notebook includes the eda and modelling part using pycaret

### Importing libraries

In [84]:
import pandas as pd
from pycaret.classification import *

from sklearn.model_selection import train_test_split

### Reading the dataset

In [85]:
data = pd.read_csv("data/ADNI_Training_Q3_APOE_CollectionADNI1Complete 1Yr 1.5T_July22.2014.csv")

In [86]:
data.columns

Index(['directory.id', 'Subject', 'RID', 'Image.Data.ID', 'Modality', 'Visit',
       'Acq.Date', 'DX.bl', 'EXAMDATE', 'AGE', 'PTGENDER', 'PTEDUCAT',
       'PTETHCAT', 'PTRACCAT', 'APOE4', 'MMSE', 'imputed_genotype',
       'APOE Genotype', 'Dx Codes for Submission'],
      dtype='object')

### Removing extra columns

In [87]:
remove_column = ['directory.id', 'Subject', 'RID', 'Image.Data.ID', 'Visit', 'Acq.Date', 'EXAMDATE', 'DX.bl']

data = data.drop(columns=remove_column)

In [88]:
cat_vars = ['PTGENDER', 'PTETHCAT', 'PTRACCAT', 'APOE4', 'imputed_genotype', 'APOE Genotype']

#### Converting the dataset to one-hot encoding

In [89]:
for var in cat_vars:
    if var in data.columns:
        print(f'Converting {var} to 1-hot encoding')
        one_hot_df = pd.get_dummies(data[var], prefix=var)
        data = pd.concat([data, one_hot_df], axis=1)
        data.drop(var, axis=1, inplace=True)
    else:
        print(f'Column {var} not found in DataFrame data.')

data.head(4)

Converting PTGENDER to 1-hot encoding
Converting PTETHCAT to 1-hot encoding
Converting PTRACCAT to 1-hot encoding
Converting APOE4 to 1-hot encoding
Converting imputed_genotype to 1-hot encoding
Converting APOE Genotype to 1-hot encoding

,Modality,AGE,PTEDUCAT,MMSE,Dx Codes for Submission,PTGENDER_Female,PTGENDER_Male,PTETHCAT_Hisp/Latino,PTETHCAT_Not Hisp/Latino,PTETHCAT_Unknown,...,APOE4_1,APOE4_2,imputed_genotype_False,imputed_genotype_True,"APOE Genotype_2,2","APOE Genotype_2,3","APOE Genotype_2,4","APOE Genotype_3,3","APOE Genotype_3,4","APOE Genotype_4,4"
0,MRI,81.3,18,20,AD,0,1,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,MRI,67.5,10,27,MCI,0,1,1,0,0,...,0,0,1,0,0,0,0,1,0,0
2,MRI,73.7,16,29,CN,0,1,0,1,0,...,0,0,0,1,0,0,0,1,0,0
3,MRI,80.4,13,25,MCI,1,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0

In [90]:
data.columns

Index(['Modality', 'AGE', 'PTEDUCAT', 'MMSE', 'Dx Codes for Submission',
       'PTGENDER_Female', 'PTGENDER_Male', 'PTETHCAT_Hisp/Latino',
       'PTETHCAT_Not Hisp/Latino', 'PTETHCAT_Unknown', 'PTRACCAT_Asian',
       'PTRACCAT_Black', 'PTRACCAT_White', 'APOE4_0', 'APOE4_1', 'APOE4_2',
       'imputed_genotype_False', 'imputed_genotype_True', 'APOE Genotype_2,2',
       'APOE Genotype_2,3', 'APOE Genotype_2,4', 'APOE Genotype_3,3',
       'APOE Genotype_3,4', 'APOE Genotype_4,4'],
      dtype='object')

### Splitting the dataset

In [91]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns=['Dx Codes for Submission']), data['Dx Codes for Submission'], test_size=0.2, random_state=42)

### Training the Model

In [92]:
clf = setup(data=data, target="Dx Codes for Submission", session_id=123, log_experiment=True, experiment_name="alzheimer")

In [93]:
best_model = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .           05:22:54
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Compiling Library

In [94]:
model = create_model('ridge')

In [95]:
tuned_model = tune_model(model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [96]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [97]:
final_model = finalize_model(model)

In [99]:
predictions = predict_model(final_model, data=X_test)

In [100]:
predictions

,Modality,AGE,PTEDUCAT,MMSE,PTGENDER_Female,PTGENDER_Male,PTETHCAT_Hisp/Latino,PTETHCAT_Not Hisp/Latino,PTETHCAT_Unknown,PTRACCAT_Asian,...,APOE4_2,imputed_genotype_False,imputed_genotype_True,"APOE Genotype_2,2","APOE Genotype_2,3","APOE Genotype_2,4","APOE Genotype_3,3","APOE Genotype_3,4","APOE Genotype_4,4",prediction_label
581,MRI,71.800003,14,26,0,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,MCI
591,MRI,71.699997,12,28,1,0,0,0,1,0,...,1,1,0,0,0,0,0,0,1,MCI
550,MRI,71.300003,14,27,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,CN
213,MRI,83.099998,16,29,0,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,CN
485,MRI,81.400002,20,29,0,1,0,1,0,0,...,0,0,1,0,0,0,0,1,0,MCI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,MRI,72.900002,14,29,0,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,MCI
319,MRI,77.300003,18,29,0,1,0,1,0,0,...,0,1,0,0,0,0,1,0,0,MCI
218,MRI,77.300003,16,26,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,1,MCI
344,MRI,81.800003,12,22,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,AD
383,MRI,60.299999,13,27,0,1,0,1,0,0,...,0,0,1,0,0,0,0,1,0,MCI

### Final Notes
Since there was no significant improvent in the model accuracy, we won't be exporting the model